<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMI Calculator</title>
        <script type="text/javascript">
            function computeBMI() {
                // user inputs
                var height = Number(document.getElementById("height").value);
                var weight = Number(document.getElementById("weight").value);

                //Perform calculation
                var heightPower = Math.pow(height, 2)
                var BMI = weight/heightPower

                //Display result of calculation


	            document.getElementById("output").innerText = "Please input numbers for height and weight";

	            document.getElementById("output").innerText = Math.round(BMI,2);
                var output = BMI
                if (output < 18.5)
                    document.getElementById("comment").innerText = "Underweight";
                else if (output >= 18.5 && output <= 25)
                    document.getElementById("comment").innerText = "Normal";
                else if (output >= 25 && output <= 30)
                    document.getElementById("comment").innerText = "Obese";
                else if (output > 30)
                    document.getElementById("comment").innerText = "Overweight";
            }

        </script>
  </head>

  <body>
      <form method="post">
      <p>Enter your height in metres: <input type="text" name="height" id="height"> </p>
        <p>Enter your weight in kgs: <input type="text" name="weight"  id="weight">  </p>
       <p>Average daily calorie intake : <input type="text" name="calories" id = "calories"> </p> <br>
        <input type="submit" value="computeBMI" onclick="computeBMI();">
      </form>
      <br>
        Your BMI is: <span id="output" >?</span>
        This means you are: <span id="comment"> ?</span>

  </body>
</html>
