<html>
<head>



		Message Us
	</div>
	<br>
	<form name='form1' onsubmit="required()">
		<table>
				<tr>
				<td><span class="heading">Subject</span></td>
				<td><input class="input_name" type='text' name='subject' required></td></tr>
				<tr>
				<td><span class="heading">Message</span></td>
				<td><textarea class="input_address" type='text' name='message' cols="40" rows="5" required></textarea></td></tr>

		</table>
			<br>
			<input id="gobutton"  type="submit" name="submit" value="Send" />
			<br>

	</form>

</div>
<br><br><br><br>



<!-- menu -->
	<nav class="nav">

		<ul>
			<li><a class="nava" href="{{path}}">Home</a></li>
			<li><a class="nava" href="/about">About Us</a></li>
			<li><a class="nava" href="/contact">Contact</a></li>
			<li><a class="nava" href="/privacy">Privacy Policy</a></li>
			<li><a class="nava" href="/terms">Terms</a></li>

		</ul>
	</nav>
</body>
</html>
