<!DOCTYPE html>
<html>
<head>

   <h2> Health Advice Events</h2>

 <script>
</script>


</head>
<nav>

</nav>
<body>
   <main>
{% for output in output %}
       Event Type: {{ output.type }} <br>
      {{ output.eventName }}        <br>
       Event Starts: {{ output.startDate }} at {{ output.startTime }} <br>
       Venue: {{ output.venueName }}  <br>
       Tickets Left: {{ output.ticketsLeft }} <br>
      </div>
            <a href="{{ '/book/%s'%output.eventID|urlencode }}" class="btn btn-success">Book</a> <br> <br>
        </div>
  {% endfor %}

       <button><a href="{{url_for('login')}}">Login</a></button> <br> <br>

        <button><a href="{{url_for('register')}}">Create an account </a></button> <br> <br>

   </main>

   <nav>

   </nav>

<div id="cookiePopup">
  <h4>Cookie Consent</h4>
  <p>Our website uses cookies to provide your browsing experience and relavent informations.Before continuing to use our website, you agree & accept of our <a href="/cookies">Cookie Policy & Privacy</a></p>
 <button id="acceptCookie">Accept</button>
</div>
</body>
<footer>
Heath Advice Group UK
</footer>
</html>