<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Rate our Website</title>

	<head>
<body>

<style>
body{
	color:orange;
}
</style>

<script>
	var symbols;
	document.addEventListener('DOMContentLoaded', () => {
		rate_stars = document.querySelectorAll(".web_rating span");
		rate_stars.forEach(item => {
			item.addEventListener('click', function () {
				var rating = this.getAttribute("rating-symbols");
				document.querySelector(".rate_num").innerText = rating;
				return ratingWeb(rating, rate_stars);
			});
		});
	});


	function RatingWeb(rating, rate_stars) {
		var len = rate_stars.length;
		console.log(rating);

		for (var i = 0; i < len; i++) {
			if (i < rating) {
				rate_stars[i].innerHTML = '★';
			} else {
				rate_stars[i].innerHTML = '☆';
			}
		}

	};
</script>

	<div class="container">
		<div class="web_rating">
			<span rating-symbols="1">☆</span>
			<span rating-symbols="2">☆</span>
			<span rating-symbols="3">☆</span>
			<span rating-symbols="4">☆</span>
			<span rating-symbols="5">☆</span>
		</div>
	</div>
	Website rating: <span class="rate_num"></span>
</body>

</html>