<!DOCTYPE html>

<html>

<head>

    <title>Weather Info</title>

</head>

<body>

{% for output in output %}
       Event Type: {{ output.type }} <br>
      {{ output.eventName }}        <br>
       Event Starts: {{ output.startDate }} at {{ output.startTime }} <br>
       Venue: {{ output.venueName }}  <br>
       Tickets Left: {{ output.ticketsLeft }} <br>
      </div>
            <a href="{{ '/book/%s'%output.eventID|urlencode }}" class="btn btn-success">Book</a> <br> <br>
        </div>
  {% endfor %}



    <button><a href="{{url_for('forecast')}}"> Get Weather Forecast</a></button> <br> <br>

    <button><a href="{{url_for('bmi')}}"> View your Body Mass Index</a></button> <br> <br>

    <button><a href="{{url_for('update')}}">Update your account</a></button> <br> <br>

    <button><a href="{{url_for('graph')}}">View graph </a></button> <br> <br>

    <button><a href="{{url_for('profile')}}"> View your Profile</a></button> <br> <br>

    <button><a href="{{url_for('rating')}}">Rate the website</a></button> <br> <br>

    <a href="/">Back to Home</a>

</body>

<footer>
    <button><a href="{{url_for('contact')}}"> Contact Us</a></button> <br> <br>
</footer>

</html>